* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background: #0e0d14;
}

.title {
  text-align: center;
  color: white;
  font-size: 4rem;
  position: relative;
  top: 2rem;
  text-shadow: 0px 3px 0px #312e47;
}

.emotegrid {
  position: relative;
  top: 10rem;
}

.emotegrid img {
  transition: 0.2s ease-in-out;
  width: 10%;
  cursor: pointer;
}

.emotegrid img:hover {
  width: 11%;
}
